################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ImageProcessing/VisionApp/ImageProcs/28.ISP_Solar_Cell_Alt.cpp
